@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700;800&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
    margin: 0 165px;
}

/* Header code start */

header {
    display: flex;
    justify-content: space-between;
}

.header__logo {
    margin-top: 38px;
}

.header__btn {
    margin-top: 24px;
    background-color: #13183f;
    padding: 14px 32px;
    border-radius: 32px;
    color: white;
    font-size: 18px;
    font-weight: 700;
}

/* Header code end */

/* Max-min code start */

.max-min {
    position: relative;
}

.max-min__wrapper {
    width: 457px;
    display: inline-block;
    margin-top: 140px;
}

.max-min__title {
    font-weight: 800;
    font-size: 56px;
    color: #13183F;
    line-height: 71px;
    margin-bottom: 29px;
}

.max-min__subtitle {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #83869A;
    margin-bottom: 40px;
}

.max-min__btn {
    margin: 0;
    padding: 19px 32px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 18px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    border-radius: 32px;
}

.max-min__img {
    position: absolute;
    /* right: -500px; */
    right: -50%;
    top: -40%;
}


/* Max-min code end */

/* Wrapper code start */

.wrapper__items {
    margin-top: 180px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 40px;
}

.wrapper__item {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    
}
    

#check-out {
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    border-radius: 15px;
    padding: 20px;
    text-align: center;
}

#check-out h2 {
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    color: white;
}


/* Wrapper code end */

