@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700;800&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

/* Header code start */

header {
    display: flex;
    justify-content: space-between;
    padding: 0 165px;
}

.header__logo {
    margin-top: 38px;
}

.header__link {
    margin-top: 24px;
    background-color: #13183f;
    padding: 14px 32px;
    border-radius: 32px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    text-decoration: none;
    z-index: 10;
}

.header__link:hover,
.header__link:focus,
.header__link:active {
    background-color: #666ca3;
}

/* Header code end */

/* Max-min code start */

.max-min {
    position: relative;
    padding: 0 165px;
}

.max-min__wrapper {
    width: 457px;
    display: inline-block;
    margin-top: 140px;
}

.max-min__title {
    font-weight: 800;
    font-size: 56px;
    color: #13183F;
    line-height: 71px;
}

.max-min__subtitle {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #83869A;
    margin-bottom: 40px;
}

.max-min__link {
    margin: 0;
    padding: 19px 32px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 18px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    border-radius: 32px;
    border: none;
    cursor: pointer;
}

.max-min__link:hover,
.max-min__link:focus,
.max-min__link:active {
    opacity: 50%;
}

.max-min__img {
    position: absolute;
    right: -25%;
    top: -40%;
    /* background-image: url("../img/image-hero-desktop.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 435px 409px;
    height: 386px;
    width: 100%;
    margin: auto; */
}


/* Max-min code end */

/* Wrapper code start */

.wrapper__items {
    margin-top: 180px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 56px;
    margin-bottom: 140px;
    padding: 0 165px;
}

.wrapper__item {
    background: #FFFFFF;
    box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
    border-radius: 15px;
    display: flex;
}
    
#check-out {
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    border-radius: 15px;
    padding: 20px;
    text-align: center;
}

#check-out h2 {
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    color: white;
}

.wrapper__item-img {
    width: 56px;
    height: 56px;
    margin-left: 32px;
    position: absolute;
    margin-top: -2rem;
}

.wrapper__text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 64px 32px 40px 32px;
}

.wrapper__item-title {
    font-weight: 800;
    font-size: 24px;
    color: #13183F;
    margin: 0;
}

.wrapper__item-subtitle {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #83869A;
    margin-bottom: 24px;
}

.wrapper__item-link {
    font-weight: 700;
    font-size: 18px;
    color: #F74780;
    text-decoration: none;
}

.wrapper__item-link:hover,
.wrapper__item-link:focus,
.wrapper__item-link:active {
    opacity: 50%;

}

/* Wrapper code end */

/* Footer code start */

footer {
    background-color: #13183F;
    padding: 0 165px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__btn {
    color: #FFFFFF;
    padding: 19px 32px;
    margin: 1rem 0;
    font-weight: 700;
    font-size: 18px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    border-radius: 32px;
    border: none;
    z-index: 10;
}

.footer__btn:hover,
.footer__btn:focus,
.footer__btn:active {
    opacity: 50%;
}

/* Footer code end */

